@page "/"
@using BlackWatch.WebApp.Features.Api
@using BlackWatch.WebApp.Services
@using Microsoft.Extensions.Logging
@implements IDisposable
@inject IApiClient _api
@inject UiService _ui
@inject ILogger<Index> _logger;

@if (_tallies == null)
{
    return;
}

@if (_tallies.Count == 0)
{
    <p>
        No tallies yet. <a href="/source/new">Create one...</a>
    </p>
    return;
}

@if (_tallies.Any(x => x.IsSignalled))
{
    foreach (var tvm in _tallies.Where(x => x.IsSignalled))
    {
        <TallyWidget Tally="@tvm.PrimaryTally"
                     TallySourceId="@tvm.Source.Id"
                     TallySourceName="@tvm.Source.Name"
                     TallySourceMessage="@tvm.Source.Message" />
    }
}
else
{
    <p>No signalled tallies...</p>
}

@if (_tallies.Any(x => x.IsSignalled == false))
{
    <hr />

    @foreach (var tvm in _tallies.Where(x => x.IsSignalled == false))
    {
        <TallyWidget Tally="@tvm.PrimaryTally"
                     TallySourceId="@tvm.Source.Id"
                     TallySourceName="@tvm.Source.Name"
                     TallySourceMessage="@tvm.Source.Message" />
    }
}

@code {
    private IReadOnlyCollection<TallyViewModel>? _tallies;

    protected override async Task OnInitializedAsync()
    {
        await RefreshAsync();

        _ui.Refresh += UiOnRefresh;
    }

    private async Task RefreshAsync()
    {
        var tallySources = await _api.GetTallySourcesAsync();
        var tallies = await _api.GetTalliesAsync(10);
        var talliesBySource = tallies.ToLookup(t => t.TallySourceId!);
        _tallies =
            (from ts in tallySources
            where ts.Id != null
            let t = talliesBySource[ts.Id!]
            where t.Any()
            select new TallyViewModel(Source: ts, Tallies: t.ToArray()))
            .ToArray();
    }

    private record TallyViewModel(TallySource Source, IReadOnlyCollection<Tally> Tallies)
    {
        public Tally? PrimaryTally => Tallies.FirstOrDefault();

        public bool IsSignalled => PrimaryTally?.State == TallyState.Signalled;
    };

    private async void UiOnRefresh(object? sender, EventArgs e)
    {
        _logger.LogInformation("Tally -> UiOnRefresh");
        await RefreshAsync();
        StateHasChanged();
        _logger.LogInformation("Tally <- UiOnRefresh");
    }

    public void Dispose()
    {
        _ui.Refresh -= UiOnRefresh;
    }
}