@page "/"
@using BlackWatch.WebApp.Features.Api
@inject IApiClient _api
@inject NavigationManager _navigation

@if (_tallySources == null)
{
    <p><em>Loading...</em></p>
    return;
}

<h1>Black Watch</h1>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Message</th>
        <th>Interval</th>
        <th>Version</th>
        <th>Date Modified</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var t in _tallySources)
    {
        <tr>
            <td>@t.Id</td>
            <td>@t.Name</td>
            <td>@t.Message</td>
            <td>@t.Interval</td>
            <td>@t.Version</td>
            <td>@t.DateModified</td>
            <td>
                <a href="/edit/@t.Id"><span class="oi oi-pencil"></span></a>
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="my-1">
    <button class="btn btn-primary" @onclick="CreateNew">New...</button>
</div>

@code {
    private IReadOnlyCollection<TallySource>? _tallySources;

    protected override async Task OnInitializedAsync()
    {
        _tallySources = await _api.GetTallySourcesAsync();
    }

    private void CreateNew()
    {
        _navigation.NavigateTo("/new");
    }
}